{% load static %}
<html>
    <head>
        <title>Django Blog</title>
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <div> 
            <header>
                <div class="nav-left">
                    <h1><a href="{% url 'home' %}">Django Blog</a></h1>
                </div>
                <div class="nav-right">
                    <a href="{% url 'post_new' %}">+ New Blog</a>
                </div>
            </header>
            {% if user.is_authenticated %} 
                <p>Hi {{ user.username }}, welcome to the blog !</p>
                <p><a href="{% url 'logout' %}">Log Out</a></p>

            {% else %} 
                <p>You are not logged in.</p>
                <a href="{% url 'login' %}">Log In | <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %} 
            {% block content %} 
            {% endblock content %} 
        </div>
    </body>
</html>